{% extends 'base/base.html' %}
{% load static %}

{#{% block header %}#}
{#{% endblock %}#}
{##}
{#{% block loginout %}#}
{#{% endblock %}#}
{##}
{#{% block nav %}#}
{#{% endblock %}#}

{% block main %}
    <div class="detail_field">
        <h1>{{ blog_text.title }}</h1>
        <p>{{ blog_text.updated_at }}</p>
        <div class="markdownx">
            {{ blog_text.get_text_mark_down | safe }}<hr />
            </br>
        </div>
        <a href="{% url 'm3ch:index' %}">トップページに戻る</a>
    </div>

{% endblock %}

{#{% block sideB %}#}
{#{% endblock %}#}
{##}
{#{% block footer %}#}
{#{% endblock %}#}
