{% extends 'base/base.html' %}
{% load static %}

{% block main %}
<div class="row mt-100px">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'm3ch/image/20190914_092227.jpg' %}" width="" height="200" class="card-img-top"
                 alt="201909写真">
            <div class="card-body">
                <h5 class="card-title">装苑</h5>
                <p class="card-text">
                <ul>施工体制台帳 作成</ul>
                <ul>見積作成･実行予算作成</ul>
                <ul>現場材料手配</ul>
                <ul>DB他</ul>
                <br><br><br>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="{% static 'm3ch/image/1565872306690.jpg' %}" width="" height="150" class="card-img-top"
                 alt="1526">
            <div class="card-body">
                <h5 class="card-title">その他</h5>
                <p class="card-text">
                <ul>SDGｓ</ul>
                <ul>法定福利費･インボイス</ul>
                <ul>材料構成</ul>
                <ul>他</ul>
                <br><br><br>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
<footer>
    <div class="row fixed-bottom" style="background-color:#d5eaf8;">
        <a href="{% url 'mydjangoSoen:index' %}" class="col-sm-8">株式会社 装苑</a>
        <div class="col-sm-4 text-end">2021-M3CH</div>
    </div>
</footer>
{% endblock %}