{% extends 'base/base.html' %}
{% load static %}

{% block loginout %}
    <div style="height:50px;">
    </div>
{% endblock %}

{% block nav %}
    <a href="{% url 'accounts:login' %}">login</a>

    <h3>株式会社 装苑</h3>

    <div style="border:double 5px #0000ff; width:100px; text-align:center;font-family: 'BIZ UDP明朝 Medium'">装  苑</div>
    <li>SoenMember</li>
    <a href="">
        <li>見積単価</li>
    </a>
    <div style="border:double 5px #0000ff; width:100px; text-align:center;font-family: 'BIZ UDP明朝 Medium'">工事現場書類</div>
    <a href="{% url 'Show:VsekoList' %}">
        <li>施工体制台帳</li>
    </a>
    <a href="">
        <li>作業員名簿</li>
    </a>
    <a href="">
        <li>各種提出書類</li>
    </a>

    <div style="border:double 5px #0000ff; width:100px; text-align:center;font-family: 'BIZ UDP明朝 Medium'">社内書類</div>
    <a href="">
        <li>工事発注届</li>
    </a>
    <a href="">
        <li>車両自主点検表</li>
    </a>
    <a href="">
        <li>実行予算書作成</li>
    </a>

    <div style="border:double 5px #0000ff; width:100px; text-align:center;font-family: 'BIZ UDP明朝 Medium'">社員DB</div>
    <a href="">
        <li>健康診断</li>
    </a>
    <a href="">
        <li>保険</li>
    </a>
    <a href="">
        <li>資格</li>
    </a>

    <div style="border:double 5px #0000ff; width:100px; text-align:center;font-family: 'BIZ UDP明朝 Medium'">協力会社DB</div>
    <a href="">
        <li>DB</li>
    </a>
{% endblock %}

{% block main %}
    {#    <img src="{% static 'Soen/image/20190807_104336.jpg' %}" width="200px" alt="サンプル写真">#}
    <hr>
    <table>
        <tr>
            <td></td>
        </tr>
        <form action="{% url 'Soen:Vindex' %}" method="post">
            {% csrf_token %}
            {{ form.as_table }}
            <tr>
                <td></td>
            </tr>
            <td><input type="submit" value={{ btn1 }}></td>
        </form>
    </table>
    <hr>
    {{ msg|safe }}

    <table class='table table-striped'>
        <tr>
            <th class="table-primary">NAME</th>
        </tr>
        {% if finded %}
            {% for fin in finded %}
                <tr>
                    <td>{{ fin.id }}</td>
                    <td>{{ fin.name }}</td>
                    <td>{{ fin.add }}</td>
                    <td>{{ fin.moredetais.age }}</td>
                    <td><a href="{% url 'Soen:Vdetail' number=fin.id %}">詳細</a></td>
                </tr>
            {% endfor %}
        {% else %}
            {% for item in data %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.add }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>

    <a class="btn btn-outline-primary text-right" href="{% url 'Soen:Vcreate' %}" role="button">Name_Create</a>
    <br>
    <br>
    <a class="text-bottom" href="{% url 'Soen:Vindex' %}">Top</a>
    <br>
    <br>
    <br>

{% endblock %}

{% block sideB %}
    <div class="sideB">
        <h1>sideB</h1>
    </div>
{% endblock %}
