{% extends 'base/base.html' %}
{% load static %}

{% block main %}
    <tale>
        <form action="{% url 'Soen:Vlogsmemcreatemore' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            {{ form2.as_p }}
            {{ form3.as_p }}
            <tr>
                <td><input type="submit" value="登録"></td>
            </tr>
        </form>
    </tale>
    <a class="text-bottom" href="{% url 'Soen:Vlogsmemlist' %}">member-Top</a><br>
    <a class="text-bottom" href="{% url 'Soen:Vlogmain' %}">inHOME</a>
    <br>
    <br>
{% endblock %}
