{% extends 'base/base.html' %}
{% load static %}


{% block header %}
    <header>
        <div class="row " style="background-color:#059b08; height:50px;">
            <div class="col text-primary">
                <a class="text-decoration-none" href="{% url 'Soen:Vlogmain' %} "><h1>Soen</h1></a>
            </div>

            <div class="col col-lg-2">
                <h5 class="text-end">twelve
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-reception-4" viewBox="0 0 16 16">
                        <path d="M0 11.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2zm4-3a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-5zm4-3a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-8zm4-3a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v11a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-11z"/>
                    </svg>
                </h5>
            </div>
        </div>
        {% block loginout %}
            <div class="col-md-auto" style="height:50px;">
                <a class="btn btn-info" href="{% url 'Soen:Vindex' %}" role="button">ログアウト</a>
            </div>
        {% endblock %}
    </header>
{% endblock %}

{% block nav %}
    <a href="{% url 'Soen:Vlogmainsub' %}" class="btn btn-primary">Go Sub頁</a>
{% endblock %}


{% block main %}
    <div class="row mt-100px">
        <div class="card" style="width: 18rem;">
            {#            <img src="{% static 'm3ch/image/20190914_092227.jpg' %}" width="" height="200" class="card-img-top"#}
{#            alt="201909写真">#}
            <div class="card-body">
                <h5 class="card-title">装苑</h5>
                <p class="card-text">
                <ul>施工体制台帳 作成</ul>
                <ul>見積作成･実行予算作成</ul>
                <ul>現場材料手配</ul>
                <ul>DB他</ul>
                <br><br><br>
                <ul><a class="text-bottom" href="{% url 'Soen:Vlogsmemlist' %}">Soen/member</a><br></ul>
            </div>
        </div>
    </div>
    <div class="row mt-100px">
        <div class="card" style="width: 18rem;">
            {#            <img src="{% static 'm3ch/image/20190914_092227.jpg' %}" width="" height="200" class="card-img-top"#}
{#            alt="201909写真">#}
            <div class="card-body">
                <h5 class="card-title">装苑</h5>
                <p class="card-text">
                <ul>施工体制台帳 作成</ul>
                <ul>見積作成･実行予算作成</ul>
                <ul>現場材料手配</ul>
                <ul>DB他</ul>
                <br><br><br>
                <ul><a class="text-bottom" href="{% url 'Show:VlogsekoList' %}">logsekoList</a><br></ul>
            </div>
        </div>
    </div>
    <div class="row mt-100px">
        <div class="card" style="width: 18rem;">
            {#            <img src="{% static 'm3ch/image/20190914_092227.jpg' %}" width="" height="200" class="card-img-top"#}
{#            alt="201909写真">#}
            <div class="card-body">
                <h5 class="card-title">装苑</h5>
                <p class="card-text">
                <ul>施工体制台帳 作成</ul>
                <ul>見積作成･実行予算作成</ul>
                <ul>現場材料手配</ul>
                <ul>DB他</ul>
                <br><br><br>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer>
        <div class="row fixed-bottom" style="background-color:#d5eaf8;">
            <div class="col-sm-4 text-head">株式会社　装苑</div>
            <div class="col-sm-4 text-end">2021-M3CH</div>
        </div>
    </footer>
{% endblock %}