{% extends 'base/base.html' %}

{% block loginout %}
    <div class="col-md-auto" style="height:50px;">
        <a class="btn btn-info" href="{% url 'Soen:Vindex' %}" role="button">ログアウト</a>
    </div>
{% endblock %}

{% block nav %}
    <a href="{% url 'Soen:Vlogmain' %}" class="btn btn-primary">Go main頁</a>
{% endblock %}


{% block main %}
    <h2>株式会社 装苑</h2>
    <h4>装苑</h4>
    <a href="{% url 'Soen:Vlogsmemlist' %}">
        <li>SoenMember</li>
    </a>
    <h5>･工事現場書類</h5>
    <a href="{% url 'reimex:top' %}">
        <li>施工体制　LIST</li>
    </a>
    <a href="{% url 'Show:VlogsekoList' %}">
        <li>施工体制台帳 編集</li>
    </a>
    <li>作業員名簿</li>
    <li>各種提出書類</li>

    <h5>･社内書類</h5>
    <a href="">
        <li>工事発注届</li>
    </a>
    <a href="">
        <li>車両自主点検表</li>
    </a>
    <a href="">
        <li>実行予算書作成</li>
    </a>
    <h5>･社員DB</h5>
    <a href="">
        <li>健康診断</li>
    </a>
    <a href="">
        <li>保険</li>
    </a>
    <a href="">
        <li>資格</li>
    </a>
    <h5>協力会社DB</h5>
    <a href="">
        <li>DB</li>
    </a>


    <h4>その他</h4>
    <h5>･SDGs</h5>
    <a href="">
        <li>ｿｴﾝSDGs</li>
    </a>
    <a href="">
        <li>SDGsとは</li>
    </a>
    <a href="">
        <li>長崎県SDGS企業登録</li>
    </a>
    <h5>･社会制度</h5>
    <a href="">
        <li>法定福利費</li>
    </a>
    <a href="">
        <li>インボイス制度</li>
    </a>
    <a href="">
        <li>健康･年金保険･建退協</li>
    </a>



    <h5>･材料構成</h5>
    <a href="{% url 'Number:calcdescriptionnumber' %}">
        <li>材料構成（memo:留意事項）</li>
    </a>

    <li>csvData
        <a href="">Import</a>
        &
        <a href="">Export</a>
    </li>

    <a href="{% url 'Number:topView' %}"><li>材料価格DB</li></a>



    <h5>考察</h5>
    <li>いろいろ</li>
    </a>
{% endblock %}

{% block sideB %}
    <h1>sideB</h1>
    <a class="text-bottom" href="{% url 'Soen:Vlogmain' %}">main</a><br>
{% endblock %}