{% extends 'base/base.html' %}
{% load static %}

{% block main %}
    {{ msg|safe }}<br>
    {{ record.name }}<br>
    {{ record.add }}<br>
    <hr>
    <table>
        <form aciton="{% url 'Soen:Vlogsmemedit' number=id %}" method="POST">
            {% csrf_token %}
            {{ form.as_table }}<br>
            {{ form2.as_table }}<br>
            {{ form3.as_table }}<br>
            <tr>
                <td></td>
                <td><input type="submit" value="編集登録"></td>
            </tr>
        </form>
    </table>
    <a class="text-bottom" href="{% url 'Soen:Vlogsmemlist' %}">member-Top</a><br>
    <a class="text-bottom" href="{% url 'Soen:Vlogmain' %}">inHome</a>
    <br>
    <br>
    <br>

{% endblock %}