{% extends 'base/base.html' %}
{% load static %}

{% block main %}
    <h3>
        装苑MEMBERの作成
    </h3>
    <tale>
        <form action="{% url 'Show:Vlogsekosmemcreate' %}" method="POST">
            {% csrf_token %}
{#            {{ form.as_p }}#}
            {{ form2.as_p }}
            <tr>
                <td><input type="submit" value="SMEMBER登録"></td>
            </tr>
        </form>
    </tale>
    <a class="text-bottom" href="{% url 'Show:VlogsekoList' %}">Top</a><br>
{% endblock %}

