{% extends 'base/base.html' %}
{% load static %}

{#{% block header %}#}
{#{% endblock %}#}
{% block loginout %}
    <div class="col-md-auto" style="height:50px;">
        <a class="btn btn-info" href="{% url 'Soen:Vindex' %}" role="button">ログアウト</a>
    </div>
{% endblock %}
{#{% block nav %}#}
{#{% endblock %}#}

{% block main %}
    {{ msg }}

    <table class="table">
        <tr>
            <th>現場名</th>
            <th>ｾﾞﾈｺﾝ名</th>
            <th>所長名</th>
        </tr>

        {% for da in data %}
            <tr>
                <td>{{ da.AsName }}</td>
                <td>{{ da.AsCompany }}</td>
                <td>{{ da.AsManager }}</td>
                <td>{{ da.id }}</td>
                <td><a class="text-bottom" href="{% url 'Show:Vlogsekoedit' da.id %}">現場編集</a></td>
                <td><a href="{% url 'Show:Vlogsekodelete' da.id %}">削除</a></td>
                <td></td>
            </tr>
        {% endfor %}
    </table>
    <a class="text-bottom" href="{% url 'Show:VlogsekoList' %}">ここList-TopPage</a><br>
    <a class="text-bottom" href="{% url 'Soen:Vlogmain' %}">inHOME</a><br>
    <br>
    <hr>
    <a class="text-bottom" href="{% url 'Show:Vlogsekocreate' %}">現場作成</a><br>
    <a class="text-bottom" href="{% url 'Show:Vlogsekosmemcreate' %}">現場ー装苑MEMBER作成</a><a class="text-bottom" href="{% url 'Show:Vlogsekosmemlist' %}">　　・・〇装苑MEMBERの表示〇・・</a><br>
{% endblock %}

{#{% block sideB %}#}
{#{% endblock %}#}
{##}
{#{% block footer %}#}
{#{% endblock %}#}
