{% extends 'base/base.html' %}
{% load static %}

{% block loginout %}
    <div class="col-md-auto" style="height:50px;">
        <a class="btn btn-info" href="{% url 'Soen:Vindex' %}" role="button">ログアウト</a>
    </div>
{% endblock %}

{% block main %}
    <table>
        {{ obj.id }}<br>
        {{ obj.ConstractionDetails }}<br>
        {{ obj.ContractDate }}<br>
        <form action="{% url 'Show:Vlogsekosmemdelete' id %}" method="POST">
            {% csrf_token %}
            {{ form.as_table }}
            <tr>
                <td></td>
                <td><input type="submit" , value="削除"></td>
            </tr>
        </form>
    </table>
    {{ msg }}
    <hr>
    <p>やっぱり削除しない！　</p>
    <a class="text-bottom" href="{% url 'Show:VlogsekoList' %}">sekotai-Top</a><br>
    <a class="text-bottom" href="{% url 'Soen:Vlogmain' %}">inHOME</a><br>
{% endblock %}