{% extends 'base/base.html' %}
{% load static %}

{#{% block header %}#}
{#{% endblock %}#}

{% block loginout %}
    <div style="height:50px;">
        <a class="btn btn-info" href="{% url 'accounts:login' %}" role="button">login</a>
    </div>
{% endblock %}

{#{% block nav %}#}
{#{% endblock %}#}

{% block main %}
    <a href="{% url 'accounts:login' %}" role="button">login</a>
{#    {{ msg }}#}
    <table>
        <tr>
            <td></td>
        </tr>
        <form action="{% url 'Show:VsekoListSearch' %}" method="post">
            {% csrf_token %}
            {{ form4.as_table }}
            <td></td>
            <td><input type="submit" value='Search'></td>
        </form>
    </table>
    <br>
    <br>
    <table class="table">
        <tr>
            <th>現場名</th>
            <th>ｾﾞﾈｺﾝ名</th>
            <th>所長名</th>
        </tr>
{#        {% if finded %}#}
            {% for fin in finded %}
                <tr>
                    <td>{{ fin.AsName }}</td>
                    <td>{{ fin.AsCompany }}</td>
                    <td>{{ fin.AsManager }}</td>
                    <td>{{ fin.actualspot }}</td>
                    <td><a href="{% url 'Show:Vsekodetail' fin.id %}">詳細</a></td>
                </tr>
            {% endfor %}

        {% for da in data %}
            <tr>
                <td>{{ da.AsName }}</td>
                <td>{{ da.AsCompany }}</td>
                <td>{{ da.AsManager }}</td>
                <td><a class="text-bottom" href="{% url 'Show:Vsekodetail' da.id %}">詳細</a></td>
                <td></td>
            </tr>
        {% endfor %}
    </table>
    <a class="text-bottom" href="{% url 'Show:VsekoList' %}">ここListPage</a><br>
    <a class="text-bottom" href="{% url 'Show:Vsekocreate' %}">簡易作成</a>
    <br>
    <br>

{% endblock %}

{#{% block sideB %}#}
{#{% endblock %}#}
{##}
{#{% block footer %}#}
{#{% endblock %}#}
