{% extends 'base/base.html' %}
{% load static %}

{#{% block header %}#}
{#{% endblock %}#}
{% block loginout %}
    <div class="col-md-auto" style="height:50px;">
        <a class="btn btn-info" href="{% url 'accounts:login' %}" role="button">login</a>
    </div>
{% endblock %}
{#{% block nav %}#}
{#{% endblock %}#}

{% block main %}
    {{ msg }}
    <table>
        <tr>
            <td></td>
        </tr>
        <form action="{% url 'Show:VsekoListSearch' %}" method="post">
            {% csrf_token %}
            {{ form3.as_table }}
            <td></td>
            <td><input type="submit" value='Search'></td>
        </form>
    </table>
    <br>
    <br>

    <table class="table">
        <tr>
            <th>現場名</th>
            <th>ｾﾞﾈｺﾝ名</th>
            <th>所長名</th>
        </tr>
{#        {% if finded %}#}
            {% for fin in finded %}
                <tr>
                    <td>{{ fin.AsName }}</td>
                    <td>{{ fin.AsCompany }}</td>
                    <td>{{ fin.AsManager }}</td>
                    <td><a href="{% url 'Show:Vsekodetail' pk=fin.id %}">詳細</a></td>
                </tr>
            {% endfor %}

        {% for da in data %}
            <tr>
                <td>{{ da.AsName }}</td>
                <td>{{ da.AsCompany }}</td>
                <td>{{ da.AsManager }}</td>
                <td></td>
            </tr>
        {% endfor %}
    </table>
    <a class="text-bottom" href="{% url 'Show:VsekoList' %}">ここListPage</a>
    <br>
    <hr>
    <br>
    <h3>
        <簡易>現場の作成
    </h3>
    <form action="{% url 'Show:VsekoList' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        {{ form2.as_p }}
        <input type="submit" value="簡易登録">
    </form>
    <br>
    <br>

{% endblock %}

{#{% block sideB %}#}
{#{% endblock %}#}
{##}
{#{% block footer %}#}
{#{% endblock %}#}
