{% extends 'base/base.html' %}
{% load static %}

{% block loginout %}
    <div class="col-md-auto" style="height:50px;">
        <a class="btn btn-info" href="{% url 'accounts:login' %}" role="button">login</a>
        {#        <a class="btn btn-info" href="{% url 'mydjangoSoen:sub' %}" role="button">logsub</a>#}
    </div>
{% endblock %}


{% block main %}

        {{ record.name }}<br>
        {{ record.add }}<br>
        {{ record.tel }}<br>
        {{ record.details.age }}<br>
        {{ record.blog.text|safe }}<br>

    <br> <a class="text-bottom" href="{% url 'mydjangoSoen:index' %}">index</a><br>
{% endblock %}
