{% extends 'base/base.html' %}
{% load static %}

{% block main %}
    {{ msg|safe }}<br>
    {{ record.name }}<br>
    {{ record.add }}<br>
    <hr>
    <table>
        <form aciton="{% url 'mydjangoSoen:edit' id %}" method="POST">
            {% csrf_token %}
            {{ form.as_table }}
{##}
{#            {{ form2.as_table }}#}
            <tr>
                <td></td>
                <td><input type="submit" value="編集登録"></td>
            </tr>
        </form>
    </table>
    <a class="text-bottom" href="{% url 'mydjangoSoen:main' %}">Main</a><br>
{% endblock %}