{% extends 'base/base.html' %}
{% load static %}

{% block main %}
    {{ msg|safe }}
    <table>
        <form action="{% url 'mydjangoSoen:find' %}" method="POST">
            {% csrf_token %}
            {{ form }}
            <tr>
                <td></td>
                <
                <td><input type="submit" value="検索"</td>
            </tr>
        </form>
    </table>
    <hr>
    <table>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>DATE</th>
        </tr>

        {% for item in data %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.date }}</td>
                <td><a href="{% url 'mydjangoSoen:edit' item.id %}">編集</a></td>
                <td><a href="{% url 'mydjangoSoen:delete' item.id %}">削除</a></td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}