{% extends 'reimex/reimexbase.html' %}

{% block title %}{% endblock %}

{% block side_a %}
    <P><h3><a href="{% url 'actualSpot:spotcreate' %}">現場の新規作成</a></h3></P>
    <P><a href="{% url 'reimex:screate' %}">装苑メンバーの新規作成</a></P>
    <P><a href="{% url 'actualSpot:mostRecentcreate' %}">協力会社の新規作成</a></P>
    <P><a href="{% url 'actualSpot:gconcreate' %}">zeneの新規作成</a></P>
{% endblock %}

{% block main_content %}
    <h2>●zene会社一覧</h2>
    <form action="" method="get">
        <input name="query" value="{{ request.GET.query }}" type="text">
        <button type="submit">名前で検索する</button>
    </form>
    <table border="1">
        <tr>
            <th>zene会社名前</th>
            <th>郵便番号</th>
        </tr>
        {% for member in object_list %}
        <tr>
            <td>{{ member.gName }}</td>
            <td>{{ member.postalCode}}</td>
           
            <td><a href="{% url 'actualSpot:gconupdate' member.pk %}">編集</a></td>
            <br>
            <td><a href="{% url 'actualSpot:gcondelete' member.pk %}">削除</a></td>          
        <tr>
        {% endfor %}
    </table>
{% endblock %}

{% block side_b %}
    <p><h3><a href="{% url 'actualSpot:spotlist'  %}">現場LIST</a></h3></p>
    <p><a href="{% url 'reimex:mlist'  %}">職方LIST</a></p>
    <p><a href="{% url 'actualSpot:alist'  %}">協力会社LIST</a></p>
    <p><a href="{% url 'actualSpot:glist'  %}">zene会社LIST</a></p>
    <p><a href="{% url 'actualSpot:vehiclelist'  %}">車両LIST</a></p>
{% endblock %}

{% block footer %}{% endblock %} 

{% comment %} {% extends 'reimex/reimexbase.html' %}

{% block title %}{% endblock %}

{% block side_a %}

        <p><a href="{% url 'reimex:spotFalse'  %}">現場一括False</a><br></p>
        <p><a href="{% url 'reimex:memFalse'  %}">全現場の職方一括False</a>  </p>
        <p><a href="{% url 'reimex:onlymemFalse'  %}">True現場の職方一括False</a></p>
        <br>
        <hr>
        <p><a href="{% url 'reimex:screate' %}">装苑メンバーの新規作成</a></p>
        <p><a href="{% url 'actualSpot:mostRecentcreate' %}">協力会社の新規作成</a></p>
        <p><a href="{% url 'actualSpot:gconcreate' %}">zeneの新規作成</a></p>
    {% endblock %}


{% block main_content %}
    <h2>●登録現場一覧</h2>
    <table>
    {% for spot in actualSpot %}
        <tr><td>{{ spot.checking}}<h2>{{ spot.spotName}}</h2></td></tr>
            <td><a href="{% url 'actualSpot:spotdetail' spot.pk %}">詳細</a></td>
            <td><a href="{% url 'actualSpot:spotupdate' spot.pk %}">編集</a></td>
            <td><a href="{% url 'actualSpot:spotdelete' spot.pk %}">削除</a></td>
        </tr>
    {% endfor %}
    </table>  
{% endblock %}

{% block side_b %}
    <p><h3><a href="{% url 'reimex:slist'  %}">現場LIST</a></h3></p>
    <p><a href="{% url 'reimex:mlist'  %}">職方LIST</a></p>
    <p><a href="{% url 'actualSpot:alist'  %}">協力会社LIST</a></p>
    <p><a href="{% url 'actualSpot:glist'  %}">zene会社LIST</a></p>
    <p><a href="{% url 'actualSpot:spotlist'  %}">LIST</a></p>
{% endblock %}

{% block footer %}{% endblock %}  {% endcomment %}